:root {
  --accent-color: #62d0df;
  --white-color: #ffffff;
  --dark-blue: #22356f;
  --light-clue-color: #6cd3e1;
  --orange-buttons-color: #fab63e;
  --light-yellow: #f4f9e2;
  --light-blue: #edfdff;
  --light-pink: #ffe2de;
  --light-green: #c4e769;
  --blue-color: #0052c1;
  --light-violet: #dee1ff;
  --violet: #8f00ff;
  --dot-color: #e9b730;
  --basic-font-weight: 700;
  --basic-font-size: 16px;
  --secondary-font-weight: 32px;
  --main-font-style: "Inter", sans-serif;
  --text-font-style: "Manrope", sans-serif;
}

li {
  list-style-type: none;
  align-items: center;
}

ol,
ul {
  padding-top: 0;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
}

button {
  border: none;
  padding: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}

.header__container {
  display: flex;
  align-items: center;
  padding-left: 180px;
  padding-right: 130px;
}

/* ===== Header ===== */
/* ===== Navigation ===== */
.navigation {
  display: flex;
  align-items: center;
}

/* ===== Navigation ===== */
/* ===== Logo ===== */
.logo {
  font-weight: var(--basic-font-weight);
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.035em;
  color: var(--accent-color);
}

/* ===== Logo ===== */
/* ===== Site-nav ===== */
.site-nav {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: 305px;
}

.site-nav__link {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--dark-blue);
  transition: box-shadow 250ms linear;
}

.site-nav__link:hover,
.site-nav__link:focus {
  box-shadow: inset 0px -3px 0px -1px var(--dark-blue);
}

/* ===== Site-nav ===== */
/* =====Btn-open-modal ===== */
.btn-open-modal {
  transition: transform 250ms linear;
  display: flex;
  align-items: center;
  min-width: 150px;
  padding: 20px 30px;
  margin-left: 310px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-open-modal:hover,
.btn-open-modal:focus {
  background-color: #49adbb;
  transform: scale(1.05);
}

/* =====Backdrop ===== */
.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  transition: transform 250ms linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 400px;
  height: 600px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--light-yellow);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn-close {
  transition: transform 250ms linear, color 250ms linear;
  width: 40px;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--light-yellow);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  color: var(--accent-color);
  transform: translateX(50%);
}

.modal-btn-close-container {
  position: absolute;
  top: 0;
  right: -20px;
  width: 80px;
  text-align: center;
  transition: transform 250ms linear, color 250ms linear;
}

.modal-btn-close-container:hover .modal-btn-close {
  color: var(--accent-color);
  transform: translateX(50%);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__text {
  width: 200px;
  font-weight: var(--basic-font-weight);
  font-size: 48px;
  line-height: 1.29;
  text-align: center;
  color: var(--dark-blue);
}

.modal__accent {
  text-transform: uppercase;
}

.modal__slogan {
  margin-bottom: 40px;
  font-weight: var(--basic-font-weight);
  font-size: 14px;
  line-height: 1.29;
  color: var(--dark-blue);
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  margin-bottom: 80px;
}

.modal__input {
  border: none;
  padding: 10px 20px;
  background-color: var(--light-yellow);
  border-bottom: 1px solid var(--dark-blue);
}

.modal__send-btn {
  transition: transform 250ms linear;
  min-width: 150px;
  padding: 20px 30px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal__send-btn:hover,
.modal__send-btn:focus {
  background-color: #49adbb;
  transform: scale(1.05);
}

/* =====Backdrop ===== */
/* ===== Hero ===== */
.section.hero {
  position: relative;
  max-width: 1440px;
  padding-top: 240px;
  padding-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--light-yellow);
}

.hero__container {
  display: flex;
  gap: 80px;
  padding-left: 180px;
  padding-right: 130px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 25px;
  max-width: 480px;
  font-weight: var(--basic-font-weight);
  font-size: 48px;
  line-height: 1.29;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: var(--dark-blue);
}

.hero__label {
  font-weight: var(--basic-font-weight);
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.035em;
  text-transform: none;
  color: var(--accent-color);
}

.hero__text {
  max-width: 480px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 2.04;
  color: var(--dark-blue);
}

.hero__btn {
  padding: 10px 30px;
  font-weight: var(--basic-font-weight);
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--orange-buttons-color);
  color: var(--white-color);
}

.hero__btn--color {
  background-color: var(--light-yellow);
  color: var(--orange-buttons-color);
}

.matrix-rectangle-box {
  position: absolute;
  top: 0;
  right: -150px;
  width: 807.71px;
  height: 544.93px;
  border-radius: 312.159px;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  background-color: var(--light-blue);
}

.matrix-rectangle-img {
  position: absolute;
  top: 120px;
  right: -150px;
  width: 807.71px;
  height: 544.93px;
  overflow: hidden;
  background-color: var(--light-pink);
  border-radius: 312.159px;
  transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
}

.rectangle-img {
  position: absolute;
  top: -6%;
  left: 1%;
  width: 1000px;
  height: 700px;
  background-image: linear-gradient(213.71deg, var(--light-pink) 11.23%, rgba(255, 255, 255, 0) 48.4%), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateZ(30deg);
}

/* ===== Hero ===== */
.about-us {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 225px;
       column-gap: 225px;
  padding-top: 150px;
}

.section-title {
  margin-left: 106px;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #22356f;
}

.abut-us-description {
  max-width: 592px;
  font-size: 24px;
  line-height: 1.41;
  letter-spacing: 0.005em;
  color: #22356f;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.section-subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--text-font-style);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.categories {
  padding-top: 76px;
  padding-bottom: 96px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-item {
  position: relative;
  width: 360px;
  padding-top: 95px;
  padding-bottom: 231px;
}

.categories-item::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  width: 255px;
  height: 1px;
  background-color: var(--white-color);
}

.categories-item::after {
  content: "";
  margin: auto;
  position: absolute;
  left: 54px;
  top: 107px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e9b730;
}

.categories-item:nth-child(1) {
  background: var(--light-pink);
}

.categories-item:nth-child(2) {
  background: var(--light-green);
}

.categories-item:nth-child(3) {
  background: var(--accent-color);
}

.categories-item:nth-child(4) {
  background: var(--blue-color);
}

.categories-name {
  display: block;
  margin-left: 80px;
  width: 230px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.0625;
  letter-spacing: -0.006em;
  color: var(--white-color);
}

.section-healing__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.section-healing__element {
  width: 480px;
  height: 480px;
}

.section-healing__element:nth-child(1) {
  background-color: var(--dark-blue);
}

.section-healing__element:nth-child(2) {
  background-color: var(--blue-color);
}

.section-healing__element:nth-child(3) {
  background-image: url(../images/strawberry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-healing__element:nth-child(4) {
  background-color: var(--accent-color);
}

.section-healing__element:nth-child(5) {
  background-color: var(--light-violet);
}

.section-healing__element:nth-child(6) {
  background-color: var(--violet);
}

.thumb {
  width: 340px;
  height: 96px;
  box-shadow: inset 0px -1px 0px var(--white-color);
  margin-left: 70px;
}

.dot {
  fill: var(--dot-color);
  width: 24px;
}

.section-healing__text {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  line-height: 1.06;
  letter-spacing: -0.006em;
  color: var(--white-color);
  text-transform: capitalize;
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}

.short {
  width: 220px;
}

.section-five {
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  font-family: "Larsseit";
  letter-spacing: -0.03em;
}

.box {
  display: inline-flex;
  width: 480px;
  height: 240px;
}

.list-item {
  color: var(--dark-blue);
  font-size: 28px;
  line-height: 1.18;
}

.list-text {
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
}

.box-item {
  margin-top: 55px;
  margin-left: 105px;
  margin-bottom: 28px;
}

.box-text {
  margin-left: 105px;
  margin-bottom: 37px;
  width: 298px;
}

.also-know-container {
  display: flex;
}

.section-six-text-flex {
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  padding-bottom: 40px;
}

.section-six-title {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 0.75;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-section-six);
  margin-bottom: 225px;
}

.section-six-text {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  letter-spacing: -0.01em;
  color: var(--text-color-section-six);
  margin-bottom: 105px;
}

.section-six-accent-text {
  color: var(--light-clue-color);
}

.section-six-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  color: var(--orange-buttons-color);
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.1em;
  border: none;
  background-color: var(--white-color);
  transition: color 500ms linear, background-color 500ms linear, padding 500ms linear;
}
.section-six-button:hover {
  color: var(--white-color);
  background-color: var(--orange-buttons-color);
  padding: 10px 30px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */