<section class="container">
  <div>
    <img src="./images/smiling-man.jpg" alt="smiling-man" width="480px" />
  </div>
  <div class="section-six-text-flex">
    <h2 class="section-six-title">You should also know</h2>
    <p class="section-six-text">
      MDD affects more than 16.1 million American adults, or about 6.7%of the
      U.S. population age 18 and older in a given year. We at
      <span class="section-six-accent-text">ThriveTalk</span>
      can help you.
    </p>
    <button type="button" class="section-six-button">get help now</button>
  </div>
</section>
