<section class="container categories">
  <h3 class="section-subtitle">we can help you with</h3>

  <ul class="categories-list">
    <li class="categories-item">
      <span class="categories-name">Weight Lifting</span>
    </li>
    <li class="categories-item">
      <span class="categories-name">Running & Spinning</span>
    </li>
    <li class="categories-item">
      <span class="categories-name">Pumping Iron</span>
    </li>
    <li class="categories-item">
      <span class="categories-name">Pumping Iron</span>
    </li>
  </ul>
</section>
