<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a class="logo" href="./index.html">Thrivetalk</a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">About</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#services">Services</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <button class="btn-open-modal" type="button" data-modal-open>
      Contact us
    </button>
  </div>
</header>
