<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a class="logo" href="./index.html">Thrivetalk</a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">About</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#services">Services</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <button class="btn-open-modal" type="button" data-modal-open>
      Contact us
    </button>
  </div>
</header>
<section class="section hero">
  <div class="container hero__container">
    <div class="content-container">
      <h1 class="hero__title">
        <span class="hero__label">Thrivetalk</span>Helping you thrive in all
        areas of life
      </h1>
      <p class="hero__text">
        Our highly talented therapists can help you with a range of issues
        including relationships, sex, PTSD, depression, social anxiety, or even
        just caring for
      </p>
      <div class="btn-container">
        <button class="hero__btn" type="button">Who am i</button>
        <button class="hero__btn hero__btn--color" type="button">
          What do i do
        </button>
      </div>
    </div>

    <div class="matrix-rectangle-box"></div>
    <div class="matrix-rectangle-img">
      <div class="rectangle-img"></div>
    </div>
  </div>
</section>
