<section class="section-healing" id="services">
  <div class="container">
    <h2 class="section-healing__header visually-hidden">Our services</h2>
    <ul class="section-healing__list">
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text short">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle>
          </svg>
          Physical Health
        </p>
      </li>
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text short">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle></svg
          >Mental Health
        </p>
      </li>
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle></svg
          >Nutrition
        </p>
      </li>
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle></svg
          >Gymnastics
        </p>
      </li>
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle></svg
          >Crossfit
        </p>
      </li>
      <li class="section-healing__element">
        <div class="thumb"></div>
        <p class="section-healing__text">
          <svg class="dot">
            <circle r="6" cx="6" cy="17"></circle></svg
          >Aerobics
        </p>
      </li>
    </ul>
  </div>
</section>
